*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Generated Android and Kotlin build artifacts
.kotlin/
**/build/
/.idea/
/gradle/wrapper/*.bak*
local.properties
